# Local build binaries
node-cli/node-cli
*.pyc
/build/*
/bin
docs/build/*
gotools/build/*
*~
*#
.#*
# Vim file artifacts
.*.sw*
# bddtest log files
*.log

# tox
.tox/
# vscode settings
.vscode
fabric/deploy/ump/config/channel/*
fabric/ump-sdk-node/config/channel/*